@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:wght@300&display=swap");

/*General*/
.shadowed {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
img {
  border: 0;
}
h1,
h2,
h3,
h4 {
  margin: 1em 0;
  font-weight: 300;
  font-family: "Work Sans", Arial, sans-serif;
  letter-spacing: -0.3px;
}
h1 {
  margin: 0.67em 0;
  line-height: 44.2;
  font-size: 34px;
  color: #00b39b;
}
h1:first-child {
  margin: 0;
}
h2 {
  font-size: 1.875rem;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Roboto";
  margin: 1.6em 0;
  color: #747474;
}

/*NavBar*/
.navigation {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  background-color: white;
}
.col-md-auto * {
  text-decoration: none;
  color: #747474;
}
.col-md-auto *:hover,
.col-md-auto *:active {
  text-decoration: none;
  color: #00b39b;
  outline: 0;
}

/*DropDown*/
.dropbttn {
  background-color: transparent;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  right: 0;
}
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #f6f8f8;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Intro*/
.intro {
  margin: 2.0625rem auto 3.75rem;
}
#lead__headline {
  text-align: center;
}
.lead__logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.txts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1015px;

  margin: 0 auto;
  position: relative;
}
#txt {
  margin: 10px;
  padding: 10px;
  line-height: 26px;
  font-weight: 470px;
}

/*client services*/
.client__services {
  display: flex;
  max-width: 1015px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  transition: all 0.2s ease 0s;
}
.doctors {
  background-color: #3d83df;
}
.clinics {
  background-color: #1b2734;
}
.patients {
  background-color: #00b39b;
}
.box {
  height: 345px;
  width: 325px;
  display: block;
  border-radius: 10px;
  padding: 2em 2em 0;
  margin: 10px;
}
.box > * {
  color: white;
}
.box > h1 {
  font-size: 26px;
}
.box > h2 {
  font-size: 24px;
}
select {
  font-family: "Roboto";
  font-size: 19.2px;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  box-sizing: inherit;
}
select * {
  font-size: 16px;
  color: black;
}

/*stats*/
.stats{
  margin-top: 200px;
  background-image: url(/res/doc.png);
}
.grid{
  display: flex;
  flex-direction: row;
  
}
.stats__header{
  margin-top: 60px;
  margin-left: 55px;
}
.stats__header h1{
  margin-left: 93px;
  margin-bottom: 30px;
  font-size: 34px;
}
.stats__header p{
  margin: auto;
  font-size: 14px;
  width: 70%;
}
.stats__childs{
  flex-basis: 35%;
}
.stats__child h3{
  font-size: 1.8461538462em;
  color: #00b39b;
  margin: .5em 0;
}
.up{
  margin-bottom: 30px;
}
.down{
  margin-top: 30px;
}
.stats__children{

  margin-bottom: 30px;
  width: 50%;
  display:flex;
  
}
.stats__child{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  height: 250px;
  text-align: center;
  padding: 15px;
  font-size: .8125em;
  margin-left: 15px;
  margin-right: 15px;
  margin-top:15px ;
  margin-bottom: 15px;
}

/*Global__logos*/
.brands__logos {
  display: flex;
  float: right;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  width: 67%;
  list-style: none;
  padding: 0;
  margin-top: -70px;

}
.brands__logos li {
  font-size: 1rem;
  display: inline-block;
  width: 160px;
  padding: 5px 0;
}
.global__logos > h1 {
  width: 33%;
  font-size: 1.625em;
  padding-right: 1em;
  margin-top: 50px;
}
.global__logos{
  width: 71%;
  margin: auto;
}

/*Offices*/
.offices__header {
  max-width: 460px;
  margin: auto;
  padding: 20px;
}
.offices__header > p {
  text-align: center;
  font-size: 14px;
}
.offices__header > h1 {
  text-align: center;
  font-size: 28px;
  padding: 25px;
}
.office {
  flex-basis: 30%;
  margin: 10px;
  border-radius: 10px;
}
.office__desc {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.6666666667;
  padding: 1.1111111111em;
}
.offices__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.office__inner {
  display: block;
  padding: 0%;
  border-radius: 10px;
  border: 0.1px solid #80808012;
}
.office__inner:hover {
  box-shadow: 0px 8px 8px 0px rgba(0.15, 0.1, 0.1, 0.15);
}

/*bttn*/
span{
  float: right;
}
.bttn {
  color: #fff;
  text-decoration: none;
  font-family: Roboto,Arial,sans-serif;
  padding: 7px 14px;
  background-color: #3d83df;
  border-radius: 5px;

}
.bttn:hover{
  color: #fff;
  background: #1662c6;
}

/*join-us*/
.join-us{
  display: block;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.join-us h1{
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: .75em;
}

/*Footer*/
.main__footer p {
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 12px;
  color: #ababab;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.main__footer {
  display: block;
  border-top: 1px solid #eef2f2;
  text-align: center;
  padding: 1em 0;
}
